.sidebar {
  min-height: $height-without-header;
  width: 250px;
  justify-content: flex-start;
  padding-left: 0;
  padding-right: 0;
  &__elem {
    width: 100%;
    padding-left: 15px;
  }
  &__elem.active {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}